@page "/inputs"

<div class="container-fluid p-0">
    <Row>
        <Column CssClass="col-12 col-xl-12">
            <Card>
                <CardHeader>
                    <h5 class="card-title mb-0">Inputs</h5>
                </CardHeader>
                <CardBody>
                        
                </CardBody>
            </Card>
        </Column>
    </Row>
</div>