<Modal Title="@Title" Position="@Position">
    <ModalBody>
        @ModalBody
    </ModalBody>
    <ModalFooter>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <Button Appearance="@Appearance.Primary" @onclick="OnOK">Yes</Button>
    </ModalFooter>
</Modal>