@using Admin.Template.Component.Constants;

<span class="badge @(Rounder ? "badge-pill" : "") badge-soft-@BadgeType @CssClass">
	<i class="mdi mdi-arrow-bottom-right"></i> @Content
</span>

@code {
	[Parameter]
	public string BadgeType { get; set; } = Appearance.Success;

	[Parameter]
	public string CssClass { get; set; } = String.Empty;

	public bool Rounder { get; set; } = false;

	[Parameter]
	public string Content { get; set; }
}
