<li class="sidebar-item">
    <a href="#@id" data-toggle="collapse" class="sidebar-link collapsed">
        @if(!string.IsNullOrEmpty(IconFeather))
        {
            <i class="align-middle" data-feather="@IconFeather"></i>
        }
        <span class="align-middle">@Title</span>
    </a>
    <ul id="@id" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
        @ChildContent
    </ul>
</li>

@code {

    private string id => Title.Replace(" ","");

    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter]
    public string IconFeather { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }


}