<Card>
	<CardBody>
		<div class="media">
			<div class="media-body">
				<h3 class="mb-2">@Statistics</h3>
				<p class="mb-2">@Title</p>
				<div class="mb-0">
					<Badge @BadgeType="@Appearance.Success" @CssClass="mr-2">
						@Percentage
					</Badge>
					<span class="text-muted">@Timeline</span>
				</div>
			</div>
			<div class="d-inline-block ml-3">
				<div class="stat">
					@Icon
				</div>
			</div>
		</div>
	</CardBody>
</Card>