<div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <Row>
        <Column CssClass="col-sm-12 col-md-6">
            <div class="dataTables_length" id="datatables-reponsive_length">
                <label>
                    Show
                    <select name="datatables-reponsive_length"
                            aria-controls="datatables-reponsive"
                            class="custom-select custom-select-sm form-control form-control-sm" @onchange="() => {}">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
        </Column>
        <Column CssClass="col-sm-12 col-md-6">
            <div id="datatables-reponsive_filter" class="dataTables_filter">
                <label>
                    Search:
                    <input type="search"
                           class="form-control form-control-sm" placeholder=""
                           aria-controls="datatables-reponsive" @onchange="() => {}">
                </label>
            </div>
        </Column>
    </Row>
    <Row>
        <Column CssClass="col-sm-12">
            <table id="datatables-reponsive" class="table table-striped dataTable no-footer dtr-inline"
                   style="width: 100%;" role="grid" aria-describedby="datatables-reponsive_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="datatables-reponsive" rowspan="1"
                            colspan="1" style="width: 263px;" aria-sort="ascending"
                            aria-label="Name: activate to sort column descending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables-reponsive" rowspan="1" colspan="1"
                            style="width: 390px;" aria-label="Position: activate to sort column ascending">Position</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables-reponsive" rowspan="1" colspan="1"
                            style="width: 196px;" aria-label="Office: activate to sort column ascending">Office</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables-reponsive" rowspan="1" colspan="1"
                            style="width: 98px;" aria-label="Age: activate to sort column ascending">Age</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables-reponsive" rowspan="1" colspan="1"
                            style="width: 180px;" aria-label="Start date: activate to sort column ascending">
                            Start date
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatables-reponsive" rowspan="1" colspan="1"
                            style="width: 144px;" aria-label="Salary: activate to sort column ascending">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="even">
                        <td class="dtr-control sorting_1" tabindex="0">Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1 dtr-control">Bruno Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>38</td>
                        <td>2011/05/03</td>
                        <td>$163,500</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="sorting_1 dtr-control">Caesar Vance</td>
                        <td>Pre-Sales Support</td>
                        <td>New York</td>
                        <td>21</td>
                        <td>2011/12/12</td>
                        <td>$106,450</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="sorting_1 dtr-control">Cara Stevens</td>
                        <td>Sales Assistant</td>
                        <td>New York</td>
                        <td>46</td>
                        <td>2011/12/06</td>
                        <td>$145,600</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="dtr-control sorting_1" tabindex="0">Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                </tbody>
            </table>
        </Column>
    </Row>
    <Pagination></Pagination>
</div>